// style guide

// greys
$p-lightgrey: #B7B1A9;
$p-darkgrey: #616365;
$p-black: #1E1E1E;

// primary - logo
$p-darkblue: #0018A8;
$p-lightblue: #0088CE;
$p-green: #00AD83;
$a-darkblue: #241773;
$a-bluegreen: #005B82;
$a-green: #007934;

// secondary - warnings, info, etc
$b-lightgreyblue: #9DABE2;
$b-lightbluegreen: #6FD4E4;
$b-yellowgreen: #C9DD03;

// tertiary colours - nav, etc
$c-purple: #6459C4;
$c-blue: #3DB7E4;
$c-green: #7AB800;
$c-yellow: #F0AB00;
$c-orange: #FF6319;